# Gini dataset
from : https://data.worldbank.org/indicator/SI.POV.GINI?end=2021&most_recent_value_desc=true&start=2021&view=map

In [34]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
import utils
plt.style.use('ggplot')
pd.set_option('display.max_columns', 200)
pd.set_option('display.float_format', lambda x: '%.10f' % x)

In [35]:
df = pd.read_csv('gini.csv',delimiter= ',')

In [36]:
melted_df = df.melt(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],var_name="year", value_name='gini')
melted_df

,Country Name,Country Code,Indicator Name,Indicator Code,year,gini
0,Aruba,ABW,Gini index,SI.POV.GINI,1960,NaN
1,Africa Eastern and Southern,AFE,Gini index,SI.POV.GINI,1960,NaN
2,Afghanistan,AFG,Gini index,SI.POV.GINI,1960,NaN
3,Africa Western and Central,AFW,Gini index,SI.POV.GINI,1960,NaN
4,Angola,AGO,Gini index,SI.POV.GINI,1960,NaN
...,...,...,...,...,...,...
16753,Kosovo,XKX,Gini index,SI.POV.GINI,Unnamed: 66,NaN
16754,"Yemen, Rep.",YEM,Gini index,SI.POV.GINI,Unnamed: 66,NaN
16755,South Africa,ZAF,Gini index,SI.POV.GINI,Unnamed: 66,NaN
16756,Zambia,ZMB,Gini index,SI.POV.GINI,Unnamed: 66,NaN
16757,Zimbabwe,ZWE,Gini index,SI.POV.GINI,Unnamed: 66,NaN

In [37]:
# drop na gini fields
print(f"pre {melted_df.shape}")
melted_df = melted_df[melted_df['gini'].notna()]
print(f"after {melted_df.shape}")

pre (16758, 6)
after (1838, 6)

In [42]:
# check years with a lot of data
melted_df.groupby('year').count()['Country Name'].sort_index(ascending=False)
# looks good for the past 10 years

year
2021     1
2020    20
2019    60
2018    85
2017    77
2016    83
2015    85
2014    83
2013    77
2012    85
2011    78
2010    84
2009    78
2008    74
2007    70
2006    76
2005    75
2004    70
2003    59
2002    53
2001    35
2000    49
1999    32
1998    37
1997    28
1996    31
1995    36
1994    26
1993    22
1992    31
1991    19
1990    17
1989    13
1988     9
1987    20
1986    14
1985    11
1984     5
1983     4
1982     2
1981     7
1980     3
1979     5
1978     1
1977     1
1975     2
1974     2
1971     1
1969     1
1967     1
Name: Country Name, dtype: int64